<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
  
<hibernate-configuration > 
	<session-factory>
	<!--	182.150.6.36-->
<!--		<property name="hibernate.connection.username">umj</property>
		<property name="hibernate.connection.password">f7h8d5hjg4n3560nuyermpl</property>-->
	<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
	<property name="hibernate.connection.url">jdbc:mysql://182.150.6.36:3306/umj_database?characterEncoding=UTF-8</property>
	<property name="hibernate.connection.username">umj</property>
	<property name="hibernate.connection.password">f7h8d5hjg4n3560nuyermpl</property>
	<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
	<property name="hibernate.show_sql">false</property>		
		
    <property name="hibernate.connection.autocommit">false</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.jdbc.batch_size">50</property>
    
    <property name="hibernate.cache.use_second_level_cache">false</property>
    

 			<property name="hibernate.connection.provider_class">
               org.hibernate.connection.C3P0ConnectionProvider
            </property>
            <property name="c3p0.acquire_increment">1</property>
            <property name="c3p0.idle_test_period">300</property>
            <property name="c3p0.max_size">20</property>
           <property name="c3p0.max_statements">100</property>
            <property name="c3p0.min_size">5</property>
            <property name="c3p0.timeout">90</property>
            <property name="c3p0.idleConnectionTestPeriod ">18000</property>           
           <property name="c3p0.maxIdleTime">25000</property>         
           <property name="c3p0.testConnectionOnCheckout">true</property>
           <property name="c3p0.preferredTestQuery">SELECT 1</property>
		
		<!-- 加入映射文件
		-->
 		<mapping resource="Camera.hbm.xml"/> 
		  <mapping resource="CheckinRecords.hbm.xml"/> 
		    <mapping resource="Class.hbm.xml"/> 
		     <mapping resource="HomeWork.hbm.xml"/> 
		      <mapping resource="Kindergarten.hbm.xml"/> 
			  <mapping resource="Parents.hbm.xml"/> 
		      <mapping resource="Student.hbm.xml"/> 
			   <mapping resource="Teacher.hbm.xml"/> 
				<mapping resource="Agent.hbm.xml"/> 
				<mapping resource="Administrator.hbm.xml"/> 
				
		<mapping resource="BabyKnowledge.hbm.xml"/> 
		<mapping resource="BabyShowtime.hbm.xml"/> 
		  <mapping resource="GartenNews.hbm.xml"/>
		    <mapping resource="CheckinCard.hbm.xml"/> 
		     <mapping resource="ShowtimeComments.hbm.xml"/> 
		      <mapping resource="ClassActivity.hbm.xml"/> 
			  <mapping resource="ClassAlbum.hbm.xml"/> 
		      <mapping resource="ClassNotification.hbm.xml"/> 
			   <mapping resource="DailyLog.hbm.xml"/> 
				<mapping resource="FoodRecord.hbm.xml"/> 
				<mapping resource="Message.hbm.xml"/>
		<mapping resource="BabyFootPrint.hbm.xml"/>
		<mapping resource="FeedBack.hmb.xml"/>
		<mapping resource="BasicInfo.hbm.xml"/>
        <mapping resource="SMSMessage.hbm.xml"/>
        <mapping resource="SystemNotification.hbm.xml"/>

	</session-factory>
</hibernate-configuration>